.bg-gray {
    background: #ccc;
}
.bg-offwhite {
    background: #dfdfdf;
}

.bg-dark {
    background-color: #000 !important;
}

.btn-primary {
    background-color: #e55c20 !important;
    border-color: #e55c20 !important;
    transition: all 0.3s;
}
.btn-primary:hover {
    background-color: #F9A021 !important;
    border-color: #F9A021 !important;
    color: #000 !important;
}

a {
    color: #e55c20;
    transition: all 0.3s;
}
a:hover {
    color: #F9A021;
}

.nav-link {
    transition: all 0.3s;
}
.nav-link:hover {
    color: #e55c20 !important;
    text-decoration: underline;
}

.navbar {
    padding-left: 0;
    padding-right: 0;
}
.navbar-dark .navbar-brand { 
    color: #F9A021;
}

body {
    font-family: 'Signika', sans-serif;
}

article {
    position: relative;
}

header {
    /* box-shadow: 0 0 10px purple; */
    position: absolute;
    top: 0; left: 0;
    z-index: 1000;
    width: 100%;
}

@media screen and (max-width: 991px) {
    header.bg-transparent {
        background-color: #212529 !important;
        position: relative;
    }
}

main {
    min-height: 100vh;
    height: auto;
}

/* Home page */

.carousel {
    height: 75vh;
}
.carousel-inner {
    height: 100%;
}

.carousel-item:before {
    content: '';
    position: absolute;
    z-index: 1;
    background: rgba(0,0,0,0.5);
    height: 100%;
    width: 100%;
}

.carousel-item img {
    min-height: 300px;
    height: 75vh;
    width: 100%;
}

.carousel-caption {
    /* bottom: 40%; */
    height: 100%;
    text-shadow: 0 0 20px black;
}
.carousel-caption h2 {
    font-size: 4rem;
    line-height: 1;
}
.carousel-caption p {
    font-size: 1.2rem;
    padding: 1rem 3rem;
}

.welcome {
    padding-top: 2rem;
    padding-bottom: 2rem;
    position: relative;
}
.welcome:first-of-type:after {
    content:'';
    background-color: #F9A021;
    height: 16rem;
    width: 1rem;
    transform: skew(15deg);
    position: absolute;
    bottom: -8rem;
    left: calc(50% - 0.5rem);
}
.welcome img {
    width: 180%;
    transform: skewX(15deg);
}
.welcome .d-md-flex {
    padding-right: 10%;
}

.signup {
    padding: 3rem 0;
}


/* Explore Dev */
.headline {
    color: #fff;
    height: 360px;
    position: relative;
}
.headline .container {
    position: relative;
    z-index: 1;
}
.headline .align-items-center {
    height: 100%;
}


/* Explore Business User */

/* Tools in Action */
.case-study-block { 
    border: 2px solid #ccc;
}
.case-study-block > div {
    padding: 2rem;
}


footer {
    /* box-shadow: 0 0 10px #007bff; */
    padding: 3rem 0;
    position: relative;
}

footer .row:first-of-type {
    margin-bottom: 2rem;
}

footer a,
footer h6 {
    color: #fff;
}
footer a {
    font-size: 1rem;
    font-weight: 300;
}
footer a:hover {
    color: gray;
}
footer h6 {
    color: #F9A021;
    font-weight: bold;
}
footer ul {
    border-top: dotted 2px;
    margin-left: 0;
    padding-left: 0;
    padding-top: 0.5rem;
}
footer li {
    list-style: none;
    margin-left: 0;
}
footer li.d-md-inline {
    padding-right: 1rem;
}

footer p {
    color: #fff;
    font-size: 1rem;
    margin-top: 0;
    margin-bottom: 0.25rem;
}
footer p:first-child {
    border-top: 2px dotted #212529;
    margin-top: 2rem; 
    padding-top: 1rem;
}